mat-toolbar {
  color: #191a19;
  background-color: rgb(250 250 250);
  display: flex;
  justify-content: space-between;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #2c302d;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

mat-sidenav-content {
  display: flex;
  justify-content: center;
}

.content {
  border-radius: 10px;
  margin: 16px;
  width: 350px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
      margin-right: 8px;
  }
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.email {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

.signout-btn {
  &:hover {
    cursor: pointer;
  }
}