Flask == 2.0.2
Flask-SQLAlchemy == 2.5.1
Flask-RESTful == 0.3.9
PyMySQL == 1.0.2
Flask-Migrate == 3.1.0
Flask-Script == 2.0.6
SQLAlchemy-serializer == 1.4.1
PyJWT == 2.3.0
python-dotenv == 0.19.2
SQLAlchemy-Utils == 0.37.9
Flask-Cors == 3.0.10
