<!-- <h1 mat-dialog-title>Login</h1> -->
<form class="submit-form" #f="ngForm" (ngSubmit)="submitLoginForm(f)">
  <div class="form__group field">
    <input type="input" class="form__field" placeholder="E-mail" name="email" id='email' ngModel #email="ngModel" required />
    <label for="email" class="form__label">E-mail</label>
  </div>
  <div *ngIf="isCreateModal" class="form__group field">
    <input type="input" class="form__field" placeholder="Nome" name="name" id='name' ngModel #name="ngModel" required />
    <label for="name" class="form__label">Nome</label>
  </div>
  <div class="form__group field">
    <input type="input" class="form__field" placeholder="Senha" name="password" id='password' ngModel #password="ngModel" required />
    <label for="password" class="form__label">Senha</label>
  </div>
  <a class="options" *ngIf="!isCreateModal" (click)="openCreateUserModal()">Não possuo usuário</a>
  <a class="options" *ngIf="isCreateModal" (click)="openLoginModal()">Fazer Login</a>
  <input type="submit" >
</form>
